/**
* Common Style
*/

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Tahoma, "Microsoft Yahei", sans-serif;
}

body {
    background-color: #404040;
}

button {
    user-select: none;
}

[hidden] {
    display: none !important;
}

::-ms-clear {
    display: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;

    transition: all 0.3s;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    
    transform: translate(-50%, -56px);
}